@using Microsoft.AspNetCore.Identity;
@{
    ViewBag.Title = "Home";
    // Get the SignInManager and UserManager instances from the HttpContext.RequestServices
    var _signInManager = Context.RequestServices.GetRequiredService<SignInManager<IdentityUser>>();
    var _userManager = Context.RequestServices.GetRequiredService<UserManager<IdentityUser>>();

    if (_signInManager.IsSignedIn(User))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-xl-1">
    </div>
    <div class="col-xl-10">
        <p class="text-center">
            <span style="font-size: 24px;">ONLINE BUSINESS PERMIT & LICENSING SYSTEM</span>
            <br />
            <span style="font-size: 15px;">
                A digital platform designed to streamline the process of applying for, renewing, and managing business permits and licenses. Through this system, users can submit applications, track progress, make payments, and receive approvals online, ensuring a faster and more transparent licensing process.
            </span>
            <br />
            <br />
            <br />
            <span style="font-size: 18px;">ENGAGE WITH US</span>
        </p>
    </div>
    <div class="col-xl-1">
    </div>
</div>
<div class="row mt-4">
    <div class="col-xl-4">
        <div class="card" style="background: #0b36a5; color: white">
            <div>
                <div class="row">
                    <div class="col-7">
                        <div class="p-4">
                            <h5 class="text-white">Welcome to OBPLS !</h5>
                            <p></p>

                            <ul class="ps-3 mb-0">
                                <li class="py-1">Business Permit</li>
                                <li class="py-1">Working Permit</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5 align-self-end p-4">
                        <img src="/assets/images/site/logo.png" alt="" class="img-fluid rounded-circle" height="70" style="border: solid 1px gray">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div>
                <div class="row">
                    <div class="col-7">
                        <div class="p-4">
                            <h5 class="text-primary">BUSINESS PERMIT</h5>
                            <p class="text-primary">Submit Application Now!</p>

                            <ul class="ps-3 mb-0">
                                <li class="py-1">New Applicant</li>
                                <li class="py-1">Renewal Applicant</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5 align-self-end p-4">
                        <img src="/assets/images/site_img/BP.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div>
                <div class="row">
                    <div class="col-7">
                        <div class="p-4">
                            <h5 class="text-primary">WORKING PERMIT</h5>
                            <p class="text-primary">Submit Application Now!</p>

                            <ul class="ps-3 mb-0">
                                <li class="py-1">New Applicant</li>
                                <li class="py-1">Renewal Applicant</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5 align-self-end p-4">
                        <img src="/assets/images/site_img/WP.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
