@using Microsoft.AspNetCore.Identity;
@{
    ViewBag.Title = "Home";
    ViewBag.pTitle = "Home";
    ViewBag.pageTitle = "Main";

    var _signInManager = Context.RequestServices.GetRequiredService<SignInManager<IdentityUser>>();
    bool IsSignedIn = _signInManager.IsSignedIn(User);

    var NewApplication = "/Identity/Account/Login";
    var RenewApplication = "/Identity/Account/Login";

    if (IsSignedIn)
    {
        NewApplication = Url.Action("Index", "Applications");
        RenewApplication = Url.Action("Index", "Applications");
    }
}

<div class="row mt-3">
    <div class="col-xl-1">
    </div>
    <div class="col-xl-10">
        <p class="text-center">
            <span style="font-size: 24px;">ONLINE BUSINESS PERMIT & LICENSING SYSTEM</span>
            <br />
            <br />
            <span style="font-size: 15px;">
                A digital platform designed to streamline the process of applying for, renewing, and managing business permits and licenses. Through this system, users can submit applications, track progress, make payments, and receive approvals online, ensuring a faster and more transparent licensing process.
            </span>
            <br />
            <br />
            <br />
            <span style="font-size: 18px;">ENGAGE WITH US</span>
        </p>
    </div>
    <div class="col-xl-1">
    </div>
</div>
<div class="row mt-4">
    <div class="col-xl-4">
        <div class="card" style="background: #0b36a5; color: white">
            <div>
                <div class="row">
                    <div class="col-7">
                        <div class="p-4">
                            <h5 class="text-white">Welcome to OBPLS !</h5>
                            <p></p>

                            <ul class="ps-3 mb-0">
                                <li class="py-1">Business Permit</li>
                                <li class="py-1">Licensing</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5 align-self-end p-4">
                        <img src="/assets/images/site/logo.png" alt="" class="img-fluid rounded-circle" height="70" style="border: solid 1px gray">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <a href="@NewApplication">
                <div class="row">
                    <div class="col-7">
                        <div class="p-4">
                            <h5 class="text-primary">NEW APPLICATION</h5>
                            <p class="text-primary">Submit New Application!</p>

                            <ul class="ps-3 mb-0">
                                <li class="py-0">Annual</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5 align-self-end p-4">
                        <img src="/assets/images/site_img/BP.png" alt="" class="img-fluid">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <a href="@RenewApplication">
                <div class="row">
                    <div class="col-7">
                        <div class="p-4">
                            <h5 class="text-primary">RENEW APPLICATION</h5>
                            <p class="text-primary">Submit Renew Application!</p>

                            <ul class="ps-3 mb-0">
                                <li class="py-0">Annual</li>
                                <li class="py-0">Bi-Annual</li>
                                <li class="py-0">Quarterly</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-5 align-self-end p-4">
                        <img src="/assets/images/site_img/RBP.png" alt="" class="img-fluid">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
