@using static OBLS.Models.Application
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model OBLS.Models.Application
@{
    ViewBag.Title = "Business Permit";
    ViewBag.pTitle = "Business Permit";
    ViewBag.pageTitle = "New Applications";

    var user = await UserManager.GetUserAsync(User);
    var phoneNumber = string.Empty;
    var email = string.Empty;
    if (user != null)
    {
        phoneNumber = user.PhoneNumber != null ? user.PhoneNumber : "";
        email = user.Email != null ? user.Email : "";
    }
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4 text-uppercase">Business Permit Applications</h4>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Application_Type" class="control-label"></label>
                            <select asp-for="Application_Type" class="form-control">
                                <option value="">Select Application Type</option>
                                <option value="New">New</option>
                                <option value="Renew">Renew</option>
                            </select>
                            <span asp-validation-for="Application_Type" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Application_PaymentMode" class="control-label"></label>
                            <select asp-for="Application_PaymentMode" class="form-control">
                                <option value="">Select Mode of Payment</option>
                                <option value="Annual">Annual</option>
                                <option value="Bi-annual">Bi-annual</option>
                                <option value="Quarterly">Quarterly</option>
                            </select>
                            <span asp-validation-for="Application_PaymentMode" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Application_Year" class="control-label"></label>
                            <select asp-for="Application_Year" class="form-control">
                                <option value="">Select Year</option>
                                <option value="2025">2025</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                            </select>
                            <span asp-validation-for="Application_Year" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12 form-group">
                            <div class="form-check form-checkbox-outline form-check-primary">
                                <label asp-for="Application_IsGenerateBrgyClearance" class="form-check-label"></label>
                                <input asp-for="Application_IsGenerateBrgyClearance" class="form-check-input CheckColor" type="checkbox">
                                <span asp-validation-for="Application_IsGenerateBrgyClearance" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Business Information</h4>
                    <div class="row">
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Business_Name" class="control-label"></label>
                            <input asp-for="Business_Name" class="form-control" />
                            <span asp-validation-for="Business_Name" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Business_TradeName" class="control-label"></label>
                            <input asp-for="Business_TradeName" class="form-control" />
                            <span asp-validation-for="Business_TradeName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Business_OrganizationType" class="control-label"></label>
                            <select asp-for="Business_OrganizationType" class="form-control">
                                <option value="">Select Organization Type</option>
                                <option value="Single Proprietorship">Single Proprietorship</option>
                                <option value="One Person Corporation">One Person Corporation</option>
                                <option value="Partnership">Partnership</option>
                                <option value="Corporation">Corporation</option>
                                <option value="Cooperative">Cooperative</option>
                            </select>
                            <span asp-validation-for="Business_OrganizationType" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Business_Sex" class="control-label"></label>
                            <select asp-for="Business_Sex" class="form-control">
                                <option value="">Select Sex</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Business_Sex" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Business_RegistrationNumber" class="control-label"></label>
                            <input asp-for="Business_RegistrationNumber" class="form-control" />
                            <span asp-validation-for="Business_RegistrationNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Business_TIN" class="control-label"></label>
                            <input asp-for="Business_TIN" class="form-control" />
                            <span asp-validation-for="Business_TIN" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Business_IsFilipino" class="control-label"></label>
                            <select asp-for="Business_IsFilipino" class="form-control">
                                <option value="">Select For Corporation</option>
                                <option value="Not Applicable">Not Applicable</option>
                                <option value="Filipino">Filipino</option>
                                <option value="Foreign">Foreign</option>
                            </select>
                            <span asp-validation-for="Business_IsFilipino" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Name of Applicant</h4>
                    <div class="row">
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Owner_LastName" class="control-label"></label>
                            <input asp-for="Owner_LastName" class="form-control" />
                            <span asp-validation-for="Owner_LastName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Owner_FirstName" class="control-label"></label>
                            <input asp-for="Owner_FirstName" class="form-control" />
                            <span asp-validation-for="Owner_FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Owner_MiddleName" class="control-label"></label>
                            <input asp-for="Owner_MiddleName" class="form-control" />
                            <span asp-validation-for="Owner_MiddleName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Owner_Suffix" class="control-label"></label>
                            <input asp-for="Owner_Suffix" class="form-control" />
                            <span asp-validation-for="Owner_Suffix" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Main Office Address</h4>
                    <div class="row">
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="MainOffice_Region" class="control-label"></label>
                            <select asp-for="MainOffice_Region" class="form-control">
                                <option value="">Select Region</option>
                                <option value="Central Luzon">Central Luzon</option>
                            </select>
                            <span asp-validation-for="MainOffice_Region" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="MainOffice_Province" class="control-label"></label>
                            <select asp-for="MainOffice_Province" class="form-control">
                                <option value="">Select Province</option>
                                <option value="Tarlac">Tarlac</option>
                            </select>
                            <span asp-validation-for="MainOffice_Province" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="MainOffice_CityMunicipality" class="control-label"></label>
                            <select asp-for="MainOffice_CityMunicipality" class="form-control">
                                <option value="">Select City/Municipality</option>
                                <option value="Ramos">Ramos</option>
                            </select>
                            <span asp-validation-for="MainOffice_CityMunicipality" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="MainOffice_Brgy" class="control-label"></label>
                            <select asp-for="MainOffice_Brgy" class="form-control">
                                <option value="">Select Barangay </option>
                                <option value="Coral-Iloco">Coral-Iloco</option>
                                <option value="Guiteb">Guiteb</option>
                                <option value="Pance">Pance</option>
                                <option value="Poblacion Center">Poblacion Center</option>
                                <option value="Poblacion North">Poblacion North</option>
                                <option value="Poblacion South">Poblacion South</option>
                                <option value="San Juan">San Juan</option>
                                <option value="San Raymundo">San Raymundo</option>
                                <option value="Toledo">Toledo</option>
                            </select>
                            <span asp-validation-for="MainOffice_Brgy" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_ZipCode" class="control-label"></label>
                            <select asp-for="MainOffice_ZipCode" class="form-control">
                                <option value="">Select Zip Code</option>
                                <option value="2311">2311</option>
                            </select>
                            <span asp-validation-for="MainOffice_ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_HouseBuildingNumber" class="control-label"></label>
                            <input asp-for="MainOffice_HouseBuildingNumber" class="form-control" />
                            <span asp-validation-for="MainOffice_HouseBuildingNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_BuildingName" class="control-label"></label>
                            <input asp-for="MainOffice_BuildingName" class="form-control" />
                            <span asp-validation-for="MainOffice_BuildingName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="MainOffice_LotNumber" class="control-label"></label>
                            <input asp-for="MainOffice_LotNumber" class="form-control" />
                            <span asp-validation-for="MainOffice_LotNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="MainOffice_BlockNumber" class="control-label"></label>
                            <input asp-for="MainOffice_BlockNumber" class="form-control" />
                            <span asp-validation-for="MainOffice_BlockNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_Street" class="control-label"></label>
                            <input asp-for="MainOffice_Street" class="form-control" />
                            <span asp-validation-for="MainOffice_Street" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_Subdivision" class="control-label"></label>
                            <input asp-for="MainOffice_Subdivision" class="form-control" />
                            <span asp-validation-for="MainOffice_Subdivision" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Contact Information</h4>
                    <div class="row">
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Contact_MobileNumber" class="control-label"></label>
                            <input asp-for="Contact_MobileNumber" class="form-control" value="@phoneNumber" />
                            <span asp-validation-for="Contact_MobileNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Contact_EmailAddress" class="control-label"></label>
                            <input asp-for="Contact_EmailAddress" class="form-control" value="@email" />
                            <span asp-validation-for="Contact_EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Contact_TelephoneNumber" class="control-label"></label>
                            <input asp-for="Contact_TelephoneNumber" class="form-control" />
                            <span asp-validation-for="Contact_TelephoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Business Operation</h4>
                    <div class="row">
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="BusinessOperation_BusinessActivity" class="control-label"></label>
                            <select asp-for="BusinessOperation_BusinessActivity" class="form-control">
                                <option value="">Select Business Activity</option>
                                <option value="Main Office">Main Office</option>
                                <option value="Branch Office">Branch Office</option>
                                <option value="Admin Office Only">Admin Office Only</option>
                                <option value="Warehouse">Warehouse</option>
                                <option value="Others">Others</option>
                            </select>
                            <span asp-validation-for="BusinessOperation_BusinessActivity" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="BusinessOperation_OtherBusinessActivity" class="control-label"></label>
                            <input asp-for="BusinessOperation_OtherBusinessActivity" class="form-control" />
                            <span asp-validation-for="BusinessOperation_OtherBusinessActivity" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_BusinessAreaSqm" class="control-label"></label>
                            <input asp-for="BusinessOperation_BusinessAreaSqm" class="form-control" />
                            <span asp-validation-for="BusinessOperation_BusinessAreaSqm" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_TotalFloorArea" class="control-label"></label>
                            <input asp-for="BusinessOperation_TotalFloorArea" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TotalFloorArea" class="text-danger"></span>
                        </div>

                        <div class="col-lg-8 form-group mt-1">
                            <small>Total No. of Employees in Establishment</small>
                        </div>
                        <div class="col-lg-4 form-group mt-1">
                            <small>No. of Delivery Vehicles (If applicable)</small>
                        </div>

                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_EmployeeMale" class="control-label"></label>
                            <input asp-for="BusinessOperation_EmployeeMale" class="form-control" />
                            <span asp-validation-for="BusinessOperation_EmployeeMale" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_EmployeeFemale" class="control-label"></label>
                            <input asp-for="BusinessOperation_EmployeeFemale" class="form-control" />
                            <span asp-validation-for="BusinessOperation_EmployeeFemale" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="BusinessOperation_TotalEmployeeWithLGU" class="control-label"></label>
                            <input asp-for="BusinessOperation_TotalEmployeeWithLGU" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TotalEmployeeWithLGU" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_TotalVanTruck" class="control-label"></label>
                            <input asp-for="BusinessOperation_TotalVanTruck" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TotalVanTruck" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_TotalMotorcycle" class="control-label"></label>
                            <input asp-for="BusinessOperation_TotalMotorcycle" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TotalMotorcycle" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 form-group mb-3">
                            <label asp-for="BusinessOperation_IsOwned" class="control-label"></label>
                            <select asp-for="BusinessOperation_IsOwned" class="form-control">
                                <option value="">OWNED?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="BusinessOperation_IsOwned" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 form-group mb-3">
                            <label asp-for="BusinessOperation_HasTaxIncentives" class="control-label"></label>
                            <select asp-for="BusinessOperation_HasTaxIncentives" class="form-control">
                                <option value="">DO YOU HAVE TAX INCENTIVES FROM ANY GOVERNMENT ENTITY?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="BusinessOperation_HasTaxIncentives" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 form-group mt-1">
                            <small>If OWNED is <b>YES</b>, please specify the <b>Tax Declaration No.</b> and <b>Property Identification No.</b></small>
                        </div>
                        <div class="col-lg-6 form-group mt-1">
                            <small>If DO YOU HAVE TAX INCENTIVES FROM ANY GOVERNMENT ENTITY is <b>YES</b>, please specify the <b>Entity.</b></small>
                        </div>

                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessOperation_TaxDeclarationNo" class="control-label"></label>
                            <input asp-for="BusinessOperation_TaxDeclarationNo" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TaxDeclarationNo" class="text-danger"></span>
                        </div>

                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessOperation_PropertyIdentificationNo" class="control-label"></label>
                            <input asp-for="BusinessOperation_PropertyIdentificationNo" class="form-control" />
                            <span asp-validation-for="BusinessOperation_PropertyIdentificationNo" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 form-group mb-3">
                            <label asp-for="BusinessOperation_PleaseSpecifyTheEntity" class="control-label"></label>
                            <input asp-for="BusinessOperation_PleaseSpecifyTheEntity" class="form-control" />
                            <span asp-validation-for="BusinessOperation_PleaseSpecifyTheEntity" class="text-danger"></span>
                        </div>

                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Business Location Address</h4>
                    <div class="row">
                        @* <div class="col-lg-12 form-group mb-3">
                        <div class="form-check form-checkbox-outline form-check-primary">
                        <label for="SameAsMainOffice" class="form-check-label">Same As Main Office</label>
                        <input id="SameAsMainOffice" class="form-check-input CheckColor" type="checkbox">
                        </div>
                        </div> *@
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessLocation_Region" class="control-label"></label>
                            <select asp-for="BusinessLocation_Region" class="form-control">
                                <option value="">Select Region</option>
                                <option value="Central Luzon">Central Luzon</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_Region" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessLocation_Province" class="control-label"></label>
                            <select asp-for="BusinessLocation_Province" class="form-control">
                                <option value="">Select Province</option>
                                <option value="Tarlac">Tarlac</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_Province" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessLocation_CityMunicipality" class="control-label"></label>
                            <select asp-for="BusinessLocation_CityMunicipality" class="form-control">
                                <option value="">Select City/Municipality</option>
                                <option value="Ramos">Ramos</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_CityMunicipality" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessLocation_Brgy" class="control-label"></label>
                            <select asp-for="BusinessLocation_Brgy" class="form-control">
                                <option value="">Select Barangay </option>
                                <option value="Coral-Iloco">Coral-Iloco</option>
                                <option value="Guiteb">Guiteb</option>
                                <option value="Pance">Pance</option>
                                <option value="Poblacion Center">Poblacion Center</option>
                                <option value="Poblacion North">Poblacion North</option>
                                <option value="Poblacion South">Poblacion South</option>
                                <option value="San Juan">San Juan</option>
                                <option value="San Raymundo">San Raymundo</option>
                                <option value="Toledo">Toledo</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_Brgy" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_ZipCode" class="control-label"></label>
                            <select asp-for="BusinessLocation_ZipCode" class="form-control">
                                <option value="">Select Zip Code</option>
                                <option value="2311">2311</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_HouseBuildingNumber" class="control-label"></label>
                            <input asp-for="BusinessLocation_HouseBuildingNumber" class="form-control" />
                            <span asp-validation-for="BusinessLocation_HouseBuildingNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_BuildingName" class="control-label"></label>
                            <input asp-for="BusinessLocation_BuildingName" class="form-control" />
                            <span asp-validation-for="BusinessLocation_BuildingName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="BusinessLocation_LotNumber" class="control-label"></label>
                            <input asp-for="BusinessLocation_LotNumber" class="form-control" />
                            <span asp-validation-for="BusinessLocation_LotNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="BusinessLocation_BlockNumber" class="control-label"></label>
                            <input asp-for="BusinessLocation_BlockNumber" class="form-control" />
                            <span asp-validation-for="BusinessLocation_BlockNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_Street" class="control-label"></label>
                            <input asp-for="BusinessLocation_Street" class="form-control" />
                            <span asp-validation-for="BusinessLocation_Street" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_Subdivision" class="control-label"></label>
                            <input asp-for="BusinessLocation_Subdivision" class="form-control" />
                            <span asp-validation-for="BusinessLocation_Subdivision" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Coordinates</h4>
                    <div class="row">
                        <div class="col-lg-12 form-group mb-3">
                            <label>
                                Go to <a href="https://www.google.com/maps/place/Ramos,+Tarlac/15.6710097,120.6424794,15z/data=!4m6!3m5!1s0x33913337fb0fdc53:0x1f8bbea8bfba2889!8m2!3d15.6732128!4d120.6458749!16zL20vMDZxMHJ2?entry=ttu&g_ep=EgoyMDI0MTAyMy4wIKXMDSoASAFQAw%3D%3D"
                                         target="_blank">Google Maps</a>, locate you <b>Business Address</b> then right click the location to get the coordinates of Latitude and Longitude.
                            </label>
                            <br />
                            <span class="mb-2" id="coordinates" hidden></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="Latitude" class="control-label mt-2"></label>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <input asp-for="Latitude" class="form-control" />
                            <span asp-validation-for="Latitude" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="Longitude" class="control-label mt-2"></label>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <input asp-for="Longitude" class="form-control" />
                            <span asp-validation-for="Longitude" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <button type="button" onclick="getCoordinates()" class="btn btn-primary">Get Coordinates</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-3 mt-4">
                        <div class="col-lg-3 form-group"></div>
                        <div class="col-lg-6 form-group text-center mt-2">
                            <a asp-action="Index" class="btn btn-secondary ">Back</a>
                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                        </div>
                        <div class="col-lg-3 form-group"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<script>
    function getCoordinates() {
        var region = $('#BusinessLocation_Region').val();
        var province = $('#BusinessLocation_Province').val();
        var city = $('#BusinessLocation_CityMunicipality').val();
        var barangay = $('#BusinessLocation_Brgy').val();
        var zipCode = $('#BusinessLocation_ZipCode').val();
        var subdivision = $('#BusinessLocation_Subdivision').val();
        var street = $('#BusinessLocation_Street').val();
        var blockNo = $('#BusinessLocation_BlockNumber').val();
        var lotNo = $('#BusinessLocation_LotNumber').val();
        var buildingName = $('#BusinessLocation_BuildingName').val();
        var houseNo = $('#BusinessLocation_HouseBuildingNumber').val();

        var apiKey = '9aa55156d5a1421bab3c42f073ff470c'; // Replace with OpenCage API key

        // Build address dynamically based on available data for better accuracy
        var addressParts = [
            houseNo ? `House No ${houseNo}` : '',
            buildingName ? buildingName : '',
            blockNo ? `Block ${blockNo}` : '',
            lotNo ? `Lot ${lotNo}` : '',
            street,
            subdivision ? subdivision : '', ,
            barangay,
            city,
            province,
            region,
            'Philippines'
        ];

        // Filter out empty values and join the parts
        var address = addressParts.filter(part => part).join(', ');

        var url = `https://api.opencagedata.com/geocode/v1/json?q=${encodeURIComponent(address)}&key=${apiKey}`;

        $.getJSON(url)
            .done(function (data) {
                if (data.results && data.results.length > 0) {
                    var location = data.results[0].geometry;
                    $('#coordinates').text(addressParts + ` - Latitude: ${location.lat}, Longitude: ${location.lng}`);
                    $('#Latitude').val(location.lat);
                    $('#Longitude').val(location.lng);
                } else {
                    $('#coordinates').text('No results found for the provided address. Please check the coordinates on Google Maps');
                }
            })
            .fail(function (error) {
                $('#coordinates').text('Error fetching data: ' + error.message);
            });
    }


    // async function getCoordinates() {
    //     const region = document.getElementById('BusinessLocation_Region').value;
    //     const province = document.getElementById('BusinessLocation_Province').value;
    //     const city = document.getElementById('BusinessLocation_CityMunicipality').value;
    //     const barangay = document.getElementById('BusinessLocation_Brgy').value;
    //     const zipCode = document.getElementById('BusinessLocation_ZipCode').value;
    //     const subdivision = document.getElementById('BusinessLocation_Subdivision').value;
    //     const street = document.getElementById('BusinessLocation_Street').value;

    //     const blockNo = document.getElementById('BusinessLocation_BlockNumber').value;
    //     const lotNo = document.getElementById('BusinessLocation_LotNumber').value;
    //     const buildingName = document.getElementById('BusinessLocation_BuildingName').value;
    //     const houseNo = document.getElementById('BusinessLocation_HouseBuildingNumber').value;

    //     const apiKey = '9aa55156d5a1421bab3c42f073ff470c'; // Replace with OpenCage API key

    //     const address = `${street}, ${barangay}, ${city}, ${province}, ${region}, Philippines`;

    //     const url = `https://api.opencagedata.com/geocode/v1/json?q=${encodeURIComponent(address)}&key=${apiKey}`;

    //     if(){
    //         try {
    //             const response = await fetch(url);
    //             const data = await response.json();

    //             if (data.results && data.results.length > 0) {
    //                 const location = data.results[0].geometry;
    //                 document.getElementById('coordinates').innerText =
    //                     address + ` - Latitude: ${location.lat}, Longitude: ${location.lng}`;

    //                 document.getElementById('Latitude').value = location.lat;
    //                 document.getElementById('Longitude').value = location.lng;
    //             } else {
    //                 document.getElementById('coordinates').innerText = 'No results found for the provided address.';
    //             }
    //         } catch (error) {
    //             document.getElementById('coordinates').innerText = 'Error fetching data: ' + error.message;
    //         }
    //     }

    // }
</script>