@model IEnumerable<Menu>

<li class="mt-2"><a href="javascript: void(0);" onclick="LoadProductsAll('MenuProducts','_ProductsAll')" class="btn btn-sm btn-secondary text-white"><i class="mdi mdi-chevron-right me-1"></i> All Menu</a></li>
@if (ViewBag.HasOrderProducts == true)
{
    <li class="mt-2"><a href="javascript: void(0);" onclick="LoadProductsAll('MenuProducts','_ProductsBestSeller')" class="btn btn-sm btn-warning text-white"><i class="mdi mdi-chevron-right me-1"></i> Best Seller</a></li>
}

@foreach (var item in Model)
{
    <li class="mt-2"><a href="javascript: void(0);" onclick="LoadMenu('@item.Id','@item.Name','@item.Description')" class="btn btn-sm btn-primary text-white"><i class="mdi mdi-chevron-right me-1"></i> @item.Name</a></li>
}